@use 'vars';
@mixin btn(){
    cursor: pointer;
    outline: none;
    border-color: vars.$darkBlue;
    background-color: vars.$darkBlue;
    color: vars.$white;
    font-weight: 700;
    transition:background-color 0.3s ease, transform 0.3s ease;

    &:hover{
        transform: scale(1.1);
        background-color: hsl(4, 100%, 67%);
        border: none;
    }
}