@use 'message';
@use 'mixins';
@use 'vars';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

// .roboto-<uniquifier> {
//   font-family: "Roboto", sans-serif;
//   font-optical-sizing: auto;
//   font-weight: <weight>;
//   font-style: normal;
//   font-variation-settings:
//     "wdth" 100;
// }

body{
    background-color: vars.$DarkGrayishBlue;
    font-family: "Roboto", sans-serif;

}

.container{
    max-width: 1440px;
    min-height: 100vh;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;

    &__style{
        display: flex;
        background-color: vars.$white;
        border-radius: 2.5em;
        padding: 2em;
    }
}

.description{
    padding: 3em;
    width: 30em;

    
    &__title{
        font-weight: 800;
        font-size: 3.3em;
        color:vars.$DarkGrayishBlue;
    }
    
    &__join{
        margin-top: 2em;
        color: vars.$DarkGrayishBlue;
    }

    &__list{
        list-style: none;
        margin-top: 2em;
        
        &__item{
            display: flex;
            align-items: center;
            gap: 1em;
            margin-top: 1em;
            color: vars.$DarkGrayishBlue;
        }
    }

    &__form{
        margin-top: 3em;
        // display: flex;
        // flex-direction: column;
        // gap: .5em;

        &__info{
            display: flex;
            justify-content: space-between;

            label{
                font-size: .9em;
                font-weight: 700;
            }

            
            .span-error{
                font-size: .9em;
                font-weight: 700;
                color: vars.$red;
                text-align: right;
            }
        }
        
        .input-error{
            color: vars.$red;
            border-color: vars.$red;
            background-color: vars.$LightPink;
        }

        input, &__btn{
            width: 100%;
            padding: 1.4em;
            border-radius: 8px;
            font-size: 1em;
            border: 1px solid vars.$MediumGray;
            outline: none;
            margin-top: 1em;
        }
        
        input{
            border-color: vars.$MediumGray;
        }

        
        &__btn{
            @include mixins.btn;
        }
    }
    
    
}


@media (min-width: 601px) and (max-width: 1024px) {

    .container{
        width: 90%;
        &__style{
            margin: 2em 0;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        picture{
            order: -1;
        }

    }
}


@media (max-width: 600px){

    body,html{
        background-color: vars.$white; 
    }

     .container{
        width: 90%;
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;

         &__style{
            background-color: transparent;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0;
            // overflow-x: auto;
        }

        picture{
            order: -1;

            img{
                width: 100vw;
            }
        }
    }

    .description{
        padding: 2em;
        width: 100%;
    }

    .message{
        height: 500px;
        width: 100%;
        border: none;
        padding: 1em;

        &__successes__title{
            font-size: 3em;
        }
    }
}