@use 'message';
@use 'mixins';


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


// .roboto-<uniquifier> {
//   font-family: "Roboto", sans-serif;
//   font-optical-sizing: auto;
//   font-weight: <weight>;
//   font-style: normal;
//   font-variation-settings:
//     "wdth" 100;
// }

body,html{
    background-color: hsl(235, 18%, 26%);
    font-family: "Roboto", sans-serif;

}

.container{
    max-width: 1440px;
    min-height: 100vh;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;

    &__style{
        display: flex;
        background-color: hsl(0, 0%, 100%);
        border-radius: 2.5em;
        // background-color: hsl(0, 0%, 100%);
        padding: 2em;
        // border-radius: 2.5em;
        // width: 60em;
    }
}

.description{
    padding: 3em;
    width: 30em;

    
    &__title{
        font-weight: 800;
        font-size: 3.3em;
        color:hsl(235, 18%, 26%);
    }
    
    &__join{
        margin-top: 2em;
        color: hsl(235, 18%, 26%);
    }

    &__list{
        list-style: none;
        margin-top: 2em;
        
        &__item{
            display: flex;
            align-items: center;
            gap: 1em;
            margin-top: 1em;
            color: hsl(235, 18%, 26%);
        }
    }

    &__form{
        margin-top: 3em;
        // display: flex;
        // flex-direction: column;
        // gap: .5em;

        &__info{
            display: flex;
            justify-content: space-between;

            label{
                font-size: .9em;
                font-weight: 700;
            }

            
            .span-error{
                font-size: .9em;
                font-weight: 700;
                color: red;
                text-align: right;
            }
        }
        
        .input-error{
            color: red;
            border-color: red;
            background-color: #ffdbdb ;
        }

        input, &__btn{
            width: 100%;
            padding: 1.4em;
            border-radius: 8px;
            font-size: 1em;
            border: 1px solid hsl(0, 0%, 58%);
            outline: none;
            margin-top: 1em;
        }
        
        input{
            border-color: hsl(0, 0%,58%);
        }

        
        &__btn{
            @include mixins.btn;
        }
    }
    
    
}






@media (min-width: 601px) and (max-width: 1024px) {

    .container{
        width: 90%;
        &__style{
            margin: 2em 0;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        picture{
            order: -1;
        }

    }
}




@media (max-width: 600px){

    body,html{
        background-color: hsl(0, 0%, 100%); 
    }

     .container{
         width: 90%;
         min-height: 100%;
         &__style{
            background-color: transparent;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0;
            // overflow-x: auto;
        }

        picture{
            order: -1;

            img{
                width: 100vw;
            }
        }
    }

    .description{
        padding: 2em;
        width: 100%;
    }
}